@use "../../AppGlobal.scss";

#launchesContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  #centerBlock{
    padding: 10px 0px;
    width: 80%;
    height: calc(100% - 20px);
    #forFilters{
      width: 100%;
      height: 60px;
    }
    #forTable{
      width: 100%;
      height: calc(100% - 120px);
      min-height: 100px;
    }
    #forTablePagination{
      width: 100%;
      height: 60px;
    }
  }
}
.MuiMenu-list{
  .MuiListItem-root{
    @include AppGlobal.label-text;
  }
}