@use "../../AppGlobal.scss";

#urlFallbackPageContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #mainText{
    @include AppGlobal.label-text;
    font-size: 500%;
  }
  #secondaryText{
    @include AppGlobal.primary-text;
    font-size: 150%;
  }
}